body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 140px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle-banner{
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(238, 168, 121), rgb(123, 243, 67));
    padding: 0 5px;
    color: white;
    border-radius: 3px;
    
}
#middle-text{
    padding-right: 50px;
}
.precaution-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.precaution-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    border-radius: 12px;
    box-shadow: 10px 10px 45px greenyellow;
}
#handle{
    border-left: 6px solid;
    border-image: linear-gradient(silver, black);
    border-image-slice: 1;
}
#amaze{
    border-left: 6px solid;
    border-image: linear-gradient(pink, purple);
    border-image-slice: 1;
}
footer{
    text-align: center;
}